.abcdn {
    background-image: url("./bg20.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 665px;
  /* optional, center the image */
    
  }