.abcdn {
    background-image: url("./bg20.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 665px;
  /* optional, center the image */
    
  }

.bentrai {
  -webkit-align-items: none;
   align-items: none;
   -webkit-box-align: none;
   -webkit-box-pack: none;
   -ms-flex-pack: none;
   -webkit-justify-content: none;
   justify-content: none;
   text-align: none;
}