.abc {
  background-image: url("./bgh.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 665px;
/* optional, center the image */
  
}

.chu1 {
  font-family: IBM Plex Sans,sans-serif;
  color: #abd373;
  margin-top: 10%;
  font-size: 40px;
  margin-bottom: 20px;
  animation: chu1chay 1s forwards;

}

.chu2 {
  font-family: IBM Plex Sans,sans-serif;
  color: #333;
  font-size: 80px;
  font-weight: 600;
  margin-bottom: 30px;
  margin-left: 3%;
  width: 450px;
  animation: chu2chay 2s forwards;

}

.chu3 {
  font-family: IBM Plex Sans,sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #333;
  margin-left: 3%;
  width: 600px;
  animation: chu3chay 3s forwards;
}

.chu4 {
  font-family: IBM Plex Sans,sans-serif;
  margin-left: 3%;
  animation: chu4chay 4s forwards;
}

@keyframes chu1chay{
  from{opacity: 0;
  margin-left: 0px;}

  to{
    opacity: 1;
    margin-left: 3%;
  }
}

@keyframes chu2chay{
  0%{
    opacity: 0;
    margin-top: -5%;
  }
  50%{
    opacity: 0;
    margin-top: -3%;
  }
  100%{
    opacity:1;
    margin-top: 0%;
  }
}

@keyframes chu3chay{
  0%{
    opacity: 0;
    margin-left: 6%;
  }
  25%{
    opacity: 0;
    margin-left: 6%;
  }
  75%{
    opacity:0;
    margin-left: 6%;
  }
  100%{
    opacity:1;
    margin-left: 3%;
  }
}


@keyframes chu4chay{
  0%{
    opacity: 0;
    margin-top: 6%;
  }
  80%{
    opacity: 0;
    margin-top: 6%;
  }
  100%{
    opacity:1;
    margin-top: 3%;
  }

}

.spbc {
  width: 39%;
  background-image: url("./sp.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 835px;   
             /* optional, center the image */
}